
/* Estilos para settings.html */

body {
    display: flex;
    flex-direction: column; /* Asegura que los elementos se apilen verticalmente */
    height: 100vh; /* Para que ocupe el 100% de la altura de la ventana */
}

.settings-panel {
    background-color: #ffffff;
    border-radius: 10px;
    padding: 30px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    flex-grow: 1; /* Permitir que el panel de reservas crezca para llenar el espacio */
    display: flex; /* Hacer que su contenido se adapte a Flexbox si es necesario */
    flex-direction: column; /* Mantener el contenido apilado verticalmente */
}

.settings-panel h2 {
    color: #0099ff;
    margin-bottom: 25px;
    font-size: 24px;
}

.settings-form .form-group {
    margin-bottom: 20px;
}

.settings-form label {
    display: block;
    margin-bottom: 8px;
    color: #333;
    font-weight: bold;
}

.settings-form select,
.settings-form input[type="text"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

.checkbox-group {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.checkbox-group input[type="checkbox"] {
    margin-right: 10px;
}

.save-button {
    background-color: #0099ff;
    color: white;
    border: none;
    padding: 12px 24px;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.save-button:hover {
    background-color: #007acc;
}

/* Estilos para el ícono activo en la barra lateral */
.sidebar a.active {
    color: #0099ff;
    background-color: #e6f7ff;
    border-radius: 50%;
    padding: 5px;
}

/* Estilo para hacer que el panel sea más responsivo */
@media screen and (max-width: 768px) {
    .settings-panel {
        padding: 20px;
    }

    .settings-panel h2 {
        font-size: 20px;
    }

    .settings-form label {
        font-size: 14px;
    }

    .settings-form select,
    .settings-form input[type="text"] {
        font-size: 14px;
    }

    .save-button {
        padding: 10px 20px;
        font-size: 14px;
    }
}